body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

body {
    background: url('https://cdn.glitch.global/113efb00-93a1-4ab0-8b5d-231c86c5c06b/pinball.jpg?v=1706592718692') no-repeat center center fixed; 
    background-size: 100% 100%;
}

}

.title-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
}

h1 {
    font-size: 3em;
}
